.navWrapper{
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.navlogo img{
    height: 9.5rem;
    background-color: transparent;
}

.menuWrapper{
    display: flex;
    /* background-color: red; */
    width: 25%;
    min-width: 20rem;
    justify-content: space-between;
}

.menuLink{
    color:white;
}